@import "../../gutenberg-styles/_assets/slick.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 4px solid red;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-weight: 300;
  color: var(--dark-green);
  font-family: var(--filson);
  margin: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  scrollbar-width: 10px;
  overflow-x: hidden;

  &.home {
    .header {
      position: fixed;
      width: 100%;
      background-color: #ffffff50;
    }
  }
  &:not(.home) {
    .header {
      background-color: var(--white);
    }
  }

  &::-webkit-scrollbar {
    width: 13px;
  }

  &::-webkit-scrollbar-track {
    // background: $primaryTheme;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    border-radius: 50px;
    border: 1px solid var(--white);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--spirit);
  font-weight: 600;
  color: var(--dark-green);
  line-height: 1.1;

  &.small {
    font-size: clamp(30px, 4vw, 35px);
  }

  &.big {
    font-size: clamp(40px, 3vw, 60px);
    line-height: 1.1;
  }
}

h1 {
  font-size: clamp(45px, 5vw, 55px);
}

h2 {
  @include fontz(35px, 24);
}

.fixed-page {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.site-main {
  flex: 1 1 100%;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: map-get($grid-breakpoints, md)) {
    max-width: 90vw;
    padding: 0;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    max-width: 1257px;
    padding: 0 15px;
  }

  @media (min-width: map-get($grid-breakpoints, xxl)) {
    padding: 0;
  }
}

ul {
  &.triangle {
    list-style: none;
    flex-direction: column;
    &,
    li {
      display: flex;
      gap: 20px;
    }

    li {
      align-items: baseline;
      &::before {
        content: "";
        display: block;
        max-width: 16px;
        width: 100%;
        height: 16px;
        background: url(../assets/icons/green-triangle-right.svg) no-repeat
          center;
      }
    }
  }
}

button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  content: "";
  width: 100vw;
  display: block;
  height: 100%;
  bottom: 0;
  left: -200%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.144);
  z-index: 5;
  &.active {
    left: 0;
  }
}
