.button {
  border-radius: 50px;
  color: var(--white);
  text-transform: uppercase;
  font-size: clamp(15px, 3vw, 15px);
  padding: 10px 25px;
  border: 2px solid transparent;
  font-family: var(--filson);
  font-weight: 300;
  transition: 0.3s;

  &__primary {
    background-color: $secondaryColor;

    // @media (max-width: map-get($grid-breakpoints, lg)) {
    //   &:hover {
    //     background-color: $primaryTheme;
    //     // color: black;
    //   }
    // }
  }
}
