.button {
	border-radius: 8px;
	color: black;


	&__primary {
		padding: 10px 20px;
		background-color: $secondaryColor;

		@media (max-width: map-get($grid-breakpoints, lg)) {
			&:hover {
				background-color: $primaryTheme;
				color: black;
			}
		}
	}
}