.header {
  position: sticky;
  top: 0;
  z-index: 5;
  transition: 0.25s;
  ul {
    list-style: none;
  }

  &__top-bar {
    display: flex;
    padding: 10px 0;
    p,
    a {
      font-size: clamp(10px, 2.5vw, 16px);
      @media (max-width: map-get($grid-breakpoints, md)) {
        font-weight: 500;
      }
    }
    p {
      margin-right: auto;
      color: var(--white);
    }
    a {
      color: var(--white);
      margin-left: auto;
      span {
        color: var(--light-green);
      }
    }
  }

  &__logo {
    margin-right: auto;
    @media (min-width: map-get($grid-breakpoints, xl)) {
      margin: 0 auto;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      a {
        img {
          max-width: 90%;
        }
      }
    }
  }

  .container,
  &__nav {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (min-width: map-get($grid-breakpoints, md)) {
      gap: 30px;
    }
  }

  &__nav {
    a {
      @extend %after-border;
      background-image: linear-gradient(0, var(--dark), var(--dark)) !important;
      @media (hover: hover) {
        &:hover {
          color: var(--dark) !important;
        }
      }
    }
  }

  &__main {
    padding: 5px 0;
    // background: var(--cream);
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding: 15px 0;
    }
    a {
      text-transform: uppercase;
      font-size: 14px;
      color: var(--dark);
      font-weight: 400;

      @media (hover: hover) {
        &:hover {
          color: var(--dark-green);
        }
      }
    }
    [aria-current] {
      color: var(--dark-geren);
      font-weight: 500;
      @media (hover: hover) {
        &:hover {
        }
      }
    }
  }

  &__shop-items,
  &__nav_shop {
    display: flex;
  }

  &__shop-items {
    gap: 20px;

    .search-link,
    .cart-link,
    .account-link {
      transition: 0.3s;
      @media (hover: hover) {
        &:hover {
          background-color: var(--dark-green);
        }
      }

      a {
        padding: 10px;
        line-height: 0;
        font-size: 0;
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          content: "";
          width: 21px;
          height: 21px;
          display: block;
        }
      }
    }

    .search-link {
      background: url(../assets/icons/_search.svg) no-repeat center;
      background-color: var(--dark);
      border-radius: 50px;
    }

    .cart-link {
      background: url(../assets/icons/_cart.svg) no-repeat center;
      background-color: var(--dark);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;

      a {
        // border-right: 1px solid var(--white);
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          width: 1px;
          height: 27px;
          background: var(--white);
          // transform: rotate(90deg);
        }
        .count {
          z-index: 4;
          display: block;
          width: 20px;
          height: 20px;
          left: -5px;
          top: -5px;
          // transform: translateY(-50%);
          color: var(--dark);
          font-size: 13px !important;
          background: var(--light-green);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          position: absolute;
        }
      }
    }

    .account-link {
      background: url(../assets/icons/account.svg) no-repeat center;
      background-color: var(--dark);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }

  //__mobile
  &__nav {
    li {
      @media (max-width: map-get($grid-breakpoints, xl)) {
        position: relative;
        .sub-menu {
          display: none;
          li {
            &:first-child {
              margin-top: 10px;
            }
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
      &.menu-item-has-children {
        @media (min-width: map-get($grid-breakpoints, xl)) {
          position: relative;
          .sub-menu {
            width: auto;
            // background-color: var(--light-green-opacity);
            border-radius: 5px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            position: absolute;
            padding: 10px 20px;
            z-index: 5;
            left: -20px;
            top: 100%;
            opacity: 0;
            visibility: hidden;
            transition: 0.35s;
            li {
              width: 200px;
              a {
                font-weight: 500;
                // font-size: 14px;
                // white-space: nowrap;
              }
            }
          }
        }

        @media (hover: hover) {
          &:hover {
            .sub-menu {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, xl)) {
      padding: 50px;
      background-color: var(--white);
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 0;
      z-index: 5;
      flex-direction: column;
      align-items: start;
      overflow: auto;
      transition: all 0.5s;

      &.active {
        width: 75vw;
        @media (min-width: map-get($grid-breakpoints, sm)) {
          width: 50vw;
        }
        left: 0;

        a {
          font-size: 16px;
        }
      }
    }
  }
}
