.xoo-wsc-basket {
  &,
  &[style*="block"] {
    display: none !important;
  }
}

.xoo-wsc-modal {
  .xoo-wsc-container {
    right: -100%;
    border-top-left-radius: 50px;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    max-width: 500px;
    padding: 20px;
  }
}

.xoo-wsc-modal {
  &.xoo-wsc-cart-active {
    .xoo-wsc-container {
      right: 0px;

      .xoo-wsc-header {
        border: none;

        .xoo-wsch-top {
          display: flex;
          flex-direction: column;
        }
        .xoo-wsch-text {
          font-size: clamp(35px, 3vw, 40px);
          font-weight: 600;
          font-family: var(--spirit);
          color: var(--dark-green);
          text-transform: capitalize;
          margin-right: auto;
        }

        .xoo-wsch-close.xoo-wsc-icon-cross {
          color: var(--light-green);
          font-size: 20px;
          border-radius: 50%;
          width: 38px;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 40px;
          right: 20px;
          background-color: var(--light-green-opacity);
        }
      }

      .xoo-wsc-body {
        background-color: var(--white);
        .xoo-wsc-product {
          box-shadow: none;
          border-radius: 0;
          .xoo-wsc-img-col {
            flex: 1 1 20%;
            a {
              display: flex;
              border-radius: 20px;
              overflow: hidden;
              max-width: 90px;
            }
          }

          .xoo-wsc-pname {
            a {
              color: var(--dark-green);
              font-size: 15px;
            }
          }

          .woocommerce-Price-amount.amount {
            bdi {
              color: var(--dark-green);
              font-weight: 600;
            }
          }
        }

        .xoo-wsc-empty-cart {
          .xoo-wsc-btn {
            border-radius: 50px;
            transition: 0.35s;
            background-color: var(--dark-green);
            border: none;
            @media (hover: hover) {
              &:hover {
                color: var(--white);
              }
            }
          }
        }
      }

      .xoo-wsc-footer {
        box-shadow: none;

        .xoo-wsc-ft-totals {
          .xoo-wsc-ft-amt.xoo-wsc-ft-amt-subtotal {
            display: flex;
            span {
              font-family: var(--filson);
              font-size: 25px;
              font-weight: 600;
              color: var(--dark-green);
            }
          }
        }

        .xoo-wsc-ft-buttons-cont {
          grid-row-gap: 15px;
          a {
            border-radius: 50px;
            text-transform: uppercase;
            font-size: 15px;
            transition: 0.35s;
            font-weight: 500;

            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-cart {
              background: var(--dark-green);
              @media (hover: hover) {
                &:hover {
                  color: var(--white);
                }
              }
            }

            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-checkout {
              background: var(--light-green);
              color: var(--dark-green);
            }

            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-cart,
            &.xoo-wsc-ft-btn.xoo-wsc-btn.xoo-wsc-ft-btn-checkout {
              border: 0;
              @media (hover: hover) {
                &:hover {
                  border: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
