.error {
  padding: 50px 0;
  text-align: center;
  &_content-title,
  &_content-descr {
    color: #000;

    font-weight: 500;
  }

  &_content-title {
    font-size: clamp(16px, 5vw, 30px);
  }
}

.e404 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  a {
    font-family: var(--spirit);
    color: var(--dark);
  }
}
