body {
  &.blog,
  &.category,
  &.tag {
    main {
      padding: 50px 0;
      .tag-title-tnl {
        margin-bottom: 20px;
      }

      .popular-new {
        padding: 25px 0;
        background-color: var(--light-green-opacity);

        .popular-posts,
        .new-posts {
          padding: 25px 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          list-style: none;

          li {
            flex: 1 1 100%;
            @media (min-width: map-get($grid-breakpoints, md)) {
              flex: 0 1 calc(50% - 20px);
            }
            @media (min-width: map-get($grid-breakpoints, xl)) {
              flex: 0 1 calc(33% - 20px);
            }
            a {
              border-radius: 13px;
              display: flex;
              align-items: center;
              padding: 20px;
              gap: 25px;
              background-color: var(--white);
              img {
                max-width: 150px;
                border-radius: 13px;
              }
              h5 {
                font-size: 18px;
              }
            }
          }
        }
      }

      .posts-categories {
        padding: 25px 0;
        list-style-type: none;
        display: flex;
        gap: 10px;

        li {
          a {
            font-weight: 500;
            &.active {
              border-bottom: 1px solid var(--black);
            }
          }
        }
      }

      .loadmore-wrap {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          border-radius: 50px;
          color: var(--white);
          text-transform: uppercase;
          font-size: clamp(15px, 3vw, 15px);
          padding: 10px 25px;
          border: 2px solid transparent;
          font-family: var(--filson);
          background-color: var(--dark-green);
          font-weight: 300;
          transition: 0.3s;

          @media (hover: hover) {
            &:hover {
              background-color: var(--dark-green-hover);
              cursor: pointer;
            }
          }
        }

        .loader {
          border: 5px solid var(--dark-green);
          /* Light grey */
          border-top: 5px solid var(--dark-green-hover);
          /* Blue */
          border-radius: 50%;
          width: 30px;
          height: 30px;
          animation: spin 2s linear infinite;
          display: inline-block;
          vertical-align: middle;
          // margin-left: 10px;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }

      .navigation {
        &.pagination {
          display: flex;
          .nav-links {
            margin: 20px auto 0;

            span,
            a {
              padding: 5px;
              color: var(--dark-green);
            }
            [aria-current] {
              background: var(--light-green-opacity);
              color: var(--dark-green);
              border-radius: 5px;
            }

            @media (hover: hover) {
              a {
                &:hover {
                  background: var(--light-green-opacity);
                  border-radius: 5px;
                  color: var(--dark-green);
                }
              }
            }
          }
        }
      }
    }
  }
}
