body {
  &.woocommerce-account {
    main {
      padding: 50px 0;
      .container {
        padding: 50px;
        background-color: var(--light-green-opacity);
        border-radius: 30px;

        &.my-account-tnl {
          display: flex;
          gap: 20px;

          .woocommerce-MyAccount-navigation-tnl {
            flex: 0 1 20%;

            ul {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 10px;

              li {
                &.is-active {
                  font-weight: 700;
                  @media (hover: hover) {
                    cursor: pointer;
                  }
                }
              }
            }
          }

          .woocommerce-MyAccount-content-tnl {
            flex: 1 1 80%;

            p {
              &:nth-child(2) {
                margin-bottom: 20px;
              }
            }

            form {
              p {
                margin: 5px 0;
              }
            }

            fieldset {
              border: none;
            }

            a {
              &.edit {
                font-size: 12px;
              }
            }
          }
        }

        h2 {
          font-size: clamp(25px, 5vw, 37px);
        }

        form {
          border: none;
          button {
            background-color: var(--black);
            color: var(--white);
            font-weight: 400;
            font-size: 12px;
            padding: 10px 20px;
            transition: 0.25s;
            border-radius: 50px;
            @media (hover: hover) {
              &:hover {
                cursor: pointer;
                color: var(--white);
                background-color: var(--dark-green-hover);
              }
            }
          }

          p,
          .form-row {
            font-size: 14px;
            margin: 15px 0;
          }

          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}
