@use "../sass/components/_varibles" as v;
.product-featured-bht {
  padding: 25px 0 50px;
  @media (min-width: map-get(v.$grid-breakpoints, md)) {
    padding: 40px 0 70px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__slider {
    .product {
      border-radius: 20px;
      background: var(--grey);
      position: relative;
      margin-right: 10px;
      text-align: center;
      overflow: hidden;
      @media (min-width: map-get(v.$grid-breakpoints, md)) {
        max-width: 30.75%;
      }
      .thumbnail-wrap {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 70px;
          background: linear-gradient(0deg, #e9e9e9, rgba(255, 255, 255, 0));
        }
        img {
          width: 100%;
        }
      }
      @media (min-width: map-get(v.$grid-breakpoints, md)) {
        margin-right: 20px;
      }
      a {
        display: flex;
        flex-direction: column;
        color: var(--black);
        width: 100%;
      }

      @media (hover: hover) {
        &:hover {
          .add-to-cart-wrap,
          .add-to-cart-wrap-single {
            bottom: 0;
          }
        }
      }

      .add-to-cart-wrap,
      .add-to-cart-wrap-single {
        &.active {
          bottom: 0;
        }
      }

      .woocommerce-loop-product__title {
        line-height: 1.6;
        padding: 0.5em 3em !important;
        font-size: 1em;
      }
      .price {
        color: var(--dark-green) !important;
        margin-bottom: 20px !important;
        justify-content: center;
        bdi {
          font-family: var(--filson);
          font-weight: 900;
        }
      }
    }

    .custom-onsale {
      background: var(--orange);
      border-radius: 5px;
      position: absolute;
      top: 20px;
      left: 20px;
      color: var(--white);
      font-size: 14px;
      font-weight: 500;
      padding: 6px 12px;
    }

    .stock-label-loop {
      background: var(--light-green);
      top: 0;
      text-align: center;
      width: 100%;
      left: 0;
      border-radius: 5px;
      font-size: 14px;
      text-transform: uppercase;
      padding: 12px 0;
      font-weight: 500;
      border-radius: 13px;
      position: absolute;
    }
    .add-to-cart-wrap,
    .add-to-cart-wrap-single {
      position: absolute;
      bottom: -100%;
      width: 100%;
      background-color: var(--white);
      padding: 16px 5px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      transition: 0.35s;
    }

    .add-to-cart-wrap-single {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .single {
        color: var(--white) !important;
      }

      .single-product-loop {
        a {
          width: 100%;
        }
      }
      .button,
      .single-product-loop {
        text-align: center;
        flex: 1 1 100%;
      }
    }

    .add-to-cart-wrap {
      .select-variation {
        position: relative;
        // margin-top: 20px;
        background-color: var(--white);
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
        gap: 5px;

        ul {
          position: absolute;
          background: #eff3e5;
          z-index: 9;
          list-style: none;
          padding: 5px !important;
          width: 50%;
          display: none;
          top: -85px;
          border-radius: 10px;
          border: 1px solid #155a47;
        }

        a {
          display: block;
          font-size: 14px;

          &.add_to_cart_button {
            flex: 1 1 calc(50% - 5px);
            background-color: var(--dark-green) !important;
            color: var(--white);
          }

          &.button {
            display: flex;
            &:first-child {
              display: flex !important;
              flex-wrap: wrap;
              flex: 1 1 calc(35% - 5px);
              padding: 0 !important;
            }

            span {
              flex: 1 1 10%;

              &.price-variation-toggler {
                font-size: 12px !important;
                flex: 1 1 90%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &.variation-toggler {
                margin: auto 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 1 5%;
                svg {
                  width: 15px;
                  height: 15px;
                }
              }
            }
          }
        }

        .backorder-button {
          display: none;
          &.loop-not-stock {
            flex: 1 1 calc(40% - 5px);
            color: var(--white);
          }
        }
      }
    }

    button,
    .button {
      font-family: var(--filson);
      font-size: clamp(12px, 2vw, 12px) !important;
      font-weight: 500;
      background: transparent;
      border-radius: 50px;
      border: 2px solid var(--dark-green);
      margin-top: 0 !important;
      padding: 12px 0;

      @media (hover: hover) {
        &:hover {
          background-color: transparent;
        }
      }

      &.mt-loop {
        width: 100%;
        text-align: center;
      }
    }
    .backorder-button {
      border-radius: 50px;
      display: none;
      font-weight: 500;
      text-transform: uppercase;
      background-color: var(--dark-green) !important;
      color: var(--white);
      &.single {
        font-size: 14px;
        display: flex;
        flex: 1 1 100%;
        font-weight: 500;
        justify-content: center;
        padding: 0.618em 1em;
      }
    }

    .select-variation ul.active {
      display: block;
    }
    .select-variation ul li {
      padding: 5px;
      font-size: 13px;
      color: #155a47;
      font-weight: bold;
      cursor: pointer;
      border-bottom: 1px solid #cfd9b6;
    }
    .select-variation ul li:last-child {
      border: none;
    }
    .select-variation ul li:hover {
      background: #f9ffe9;
    }

    .select-variation.one-variation ul {
      display: none !important;
    }
  }

  .slick-dots {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}
