@use "../sass/components/_varibles" as v;

.best-bht {
  padding: 25px 0;

  @media (min-width: map-get(v.$grid-breakpoints, md)) {
    padding: 40px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (min-width: map-get(v.$grid-breakpoints, lg)) {
      gap: 50px;
    }
  }

  &__titles {
    flex: 1 1 100%;
    h5 {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__left,
  &__right {
    flex: 1 1 100%;
    @media (min-width: map-get(v.$grid-breakpoints, lg)) {
      flex: 1 1 calc((100% / 2) - 50px);
    }
  }

  &__left {
    max-width: 100%;
    @media (min-width: map-get(v.$grid-breakpoints, lg)) {
      max-width: 50%;
    }

    &_slider {
      &-slide {
        position: relative;
        padding-top: 40px;
        img {
          margin: 0 auto;
          border-radius: 20px;
          object-fit: cover;
          max-height: 525px;
        }

        .slider-badge {
          position: absolute;
          font-weight: 900;
          font-size: 28px;
          line-height: 2;
          text-transform: uppercase;
          color: var(--white);
          padding: 0 20px;
          top: 10px;
          left: 50%;
          transform: translateX(-50%);
          background-color: var(--dark-green);
          z-index: 2;
        }
      }
      .slick-arrow.slick-hidden {
        display: none;
      }

      .slick-arrow {
        display: inline-block !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        z-index: 5;
        background-size: 15px 23px;
        background-color: #ecf8e3;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s;

        @media (hover: hover) {
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .slick-arrow.slick-next {
        right: 0;
        background-image: url(../assets/icons/slider/arrow-right.png);
      }

      .slick-arrow.slick-prev {
        left: 0;
        background-image: url(../assets/icons/slider/arrow-left.png);
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_top,
    &_bottom {
      padding: 40px;
    }
    &_top {
      @media (max-width: map-get(v.$grid-breakpoints, sm)) {
        padding: 20px 0;
      }
    }
    &_bottom {
      background-color: var(--cream);
      border-radius: 20px;
      position: relative;
      // overflow: hidden;
      img {
        position: absolute;
        right: -70px;
        top: 50%;
        transform-origin: left;
        animation: rotateAnimation 9s linear infinite;

        @keyframes rotateAnimation {
          0% {
            transform: translateY(-50%) rotate(-15deg);
          }
          25% {
            transform: translateY(-50%) rotate(8deg);
          }
          50% {
            transform: translateY(-50%) rotate(25deg);
          }
          75% {
            transform: translateY(-50%) rotate(8deg);
          }
          100% {
            transform: translateY(-50%) rotate(-15deg);
          }
        }
      }
    }
  }
}
